/* Styles for the main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background-color: #f8f9fa;
}

/* Admin dashboard title */
.admin-dashboard-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-dashboard-title img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

/* Buttons container */
.buttons-container {
  display: flex;
  gap: 20px;
}

.buttons-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container button img {
  margin-right: 8px;
}

.buttons-container button:hover {
  background-color: #0056b3;
}
